.img {
  width: 190px;
  height: 100px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: bisque;
  flex-wrap: nowrap;
  text-align: center;
}

.position {
  display: grid;
  grid-template-columns: 0fr 0fr;
  column-gap: 400pt;
  text-align: left;
}
